<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
There are some news and article
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
  <h1>Все новости только тут</h1>
  <h3>Общее количество новостей: {{posts|length}}</h3>
   <!--  <h3>{{time_now|date:'M d Y'}}</h3>
   <hr>
   <h3>{{next_sale|default_if_none:'Распродажа будет позднее. Следите за новостями в TG'}}</h3>
   <hr>-->
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Краткое описание</td>
               <td>Тип публикации</td>>
               {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
               {% endif %}
           </tr>
           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.date|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:30|censor }}</td>
               <td>{{ post.get_content_display }}</td>>
               <td>
               {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1%}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}